@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

body {
    background-image: url("https://images8.alphacoders.com/855/855007.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
}
header {
    height: 200px;
    padding: 20px;
}
.site-title {
    color: #faebda;
    vertical-align: bottom;
    text-align: left;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2px;
}
.city {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #2857be;
    text-align: left;
    margin-left: 10px;
}
.date {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #6884c0;
    text-align: left;
    margin-left: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.card {

    float: left;
    width: 12%;
    padding: 10px 10px;
}
.card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background: rgba(250, 235, 218, 0.47);
    padding: 5px;
    border-radius: 5px;

}

* {
    box-sizing: border-box;
}

.card-temp {
    font-size: 20px;
}
